/* 작은 디바이스용 스타일 */
@media screen and (max-width: 600px) {
  /* 스타일 지정 */
}

/* 중간 크기 디바이스용 스타일 */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* 스타일 지정 */
}

/* 큰 디바이스용 스타일 */
@media screen and (min-width: 1024px) {
  /* 스타일 지정 */
}

/* 회전 애니메이션 정의 */
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

img {
  display: block;
  margin: auto;
  max-width: 100%; /* 이미지의 최대 너비를 화면에 맞게 조정 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
  animation: rotate 5s linear infinite; /* 5초 동안 회전하는 애니메이션을 무한 반복 */
}
